@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?adbhsx');
  src:  url('fonts/icomoon.eot?adbhsx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?adbhsx') format('truetype'),
    url('fonts/icomoon.woff?adbhsx') format('woff'),
    url('fonts/icomoon.svg?adbhsx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-to-top:before {
  content: "\e911";
}
.icon-magnifier:before {
  content: "\e910";
}
.icon-skype:before {
  content: "\e90e";
}
.icon-whatsapp:before {
  content: "\e90f";
}
.icon-dianping:before {
  content: "\e90c";
}
.icon-taobao:before {
  content: "\e90d";
}
.icon-check_box:before {
  content: "\e25c";
}
.icon-check_box_outline_blank:before {
  content: "\e25d";
}
.icon-radio_button_unchecked:before {
  content: "\e25e";
}
.icon-radio_button_checked:before {
  content: "\e25f";
}
.icon-notifications:before {
  content: "\e24a";
}
.icon-people:before {
  content: "\e251";
}
.icon-person:before {
  content: "\e253";
}
.icon-sns:before {
  content: "\e25a";
}
.icon-map:before {
  content: "\e2c8";
}
.icon-weibo2:before {
  content: "\e605";
}
.icon-kongjian2:before {
  content: "\e606";
}
.icon-qq2:before {
  content: "\e607";
}
.icon-weixin:before {
  content: "\e608";
}
.icon-logo:before {
  content: "\e904";
}
.icon-weibo:before {
  content: "\e600";
}
.icon-kongjian:before {
  content: "\e601";
}
.icon-qq:before {
  content: "\e602";
}
.icon-cnlogo:before {
  content: "\e913";
}
.icon-add:before {
  content: "\e069";
}
.icon-cloud_upload:before {
  content: "\e0fe";
}
.icon-slideright:before {
  content: "\e90a";
}
.icon-slideleft:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e929";
}
.icon-huaban:before {
  content: "\e92a";
}
.icon-facebook:before {
  content: "\e92b";
}
.icon-email:before {
  content: "\e92c";
}
.icon-cart:before {
  content: "\e2e0";
}
.icon-add_shopping_cart:before {
  content: "\e269";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-chevron_right:before {
  content: "\e208";
}
.icon-help:before {
  content: "\e30f";
}
.icon-close:before {
  content: "\e209";
}
.icon-menu:before {
  content: "\e902";
}
.icon-sweden:before {
  content: "\e903";
}
.icon-image:before {
  content: "\e604";
}
.icon-location:before {
  content: "\e611";
}
.icon-magnifying-glass:before {
  content: "\e612";
}
.icon-mail:before {
  content: "\e907";
}
.icon-del:before {
  content: "\e800";
}
.icon-minus:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e908";
}
.icon-bubbles:before {
  content: "\e906";
}
.icon-rocket:before {
  content: "\e909";
}
